#p_buttom {
    font-weight:bold;

    }

.bold_font {
    color:red
    }
body {
    margin:auto;
    max-width:500px;
    font-family: 'Courier New';
    }

img {
    width:110%;
    padding-top:50px;
}
